<html>

<head>
    <meta charset="utf-8">
    <title>BlogV</title>
</head>

<body>

    <div id="corpo">
        <div id="topo">
            <header>
                <nav>
                    <a href="http://localhost/blog-Erick/">Home</a> |
                    <a href="http://localhost/blog-Erick/?pagina=sobre">Sobre</a>
                    <a href="http://localhost/blog-Erick/?pagina=admin&metodo=index" class="flutuacao-dir">Admin</a>
                </nav>
            </header>
        </div>

        <div id="conteudo">
            {{area_dinamica}}
        </div>
    </div>
</body>

</html>